<div class="accountModule">
  <form action="/account/create" method="POST">
    <label for="firstname">First Name: </label>
    <input id="firstname" name="firstName" type="text" />
    <label for="lastname">Last Name: </label>
    <input id="lastname" name="lastName" type="text" />
    <label for="username">Username: </label>
    <input id="username" name="username" type="text" />
    <label for="password">Password: </label>
    <input id="password" name="password" type="text" />
    <button class="create" type="submit">Create</button>
  </form>
</div>
