<div class="accountModule">
  <form action="/account/login" method="POST">
    <h2>Login</h2>
    <label for="username">Username: </label>
    <input id="username" type="text" />
    <label for="password">Username: </label>
    <input id="password" type="text" />
    <button type="submit">Login</button>
  </form>
</div>
