<link rel="stylesheet" href="/css/questionaire.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../../scripts/questionaire.js"></script>
<div id="questionnaire">
  <div id="header">
    <button id="back">--Back</button>
    <h3 id="questionTitle">Audience</h3>
    <button id="skip">Skip--</button>
  </div>
  <div id="cardParent">
    <div class="card">
      <button id="me" class="choice">Just Me</button>
      <button id="couples" class="choice">Gf/Bf/Couples</button>
      <button id="friends" class="choice">Friends</button>
      <button id="family" class="choice">Family</button>
    </div>
  </div>
  <div id="progressBar">
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
  </div>
</div>
<p>Login or create an account to fully customize your questionnaire!</p>
