<div id="questionnaire">
  <div id="header">
    <div>
      <button id="back" class="buttons" hidden="hidden">--Back</button>
    </div>
    <h3 id="questionTitle">Audience</h3>
    <div></div>
  </div>
  <div id="cardParent">
    <div></div>
    <div class="audience card">
      <div class="pick1 1">
        <button id="zme" class="choice 1">Just Me</button>
        <button id="zcouples" class="choice 1">Gf/Bf/Couples</button>
        <button id="zfriends" class="choice 1">Friends</button>
        <button id="zfamily" class="choice 1">Family</button>
      </div>
    </div>
    <div></div>
  </div>
  <div id="progressBar">
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
    <div class="progress"></div>
  </div>
</div>
<p>Login or create an account to fully customize your questionnaire!</p>
<div class="current-value">
  Current value: <span class="value-text">2</span>
</div>
