<div class="animation card">
  <p>Would you like to see animation, live-action, or both</p>
  <div class="pick1 1">
    <button id="tanimation" class="choice 1">Animation</button>
    <button id="ranimation" class="choice 1">Live/Action</button>
    <button id="zboth" class="choice 1">Both</button>
  </div>
</div>
