<div class="audience card">
  <div class="pick1 1">
    <button id="zme" class="choice 1">Just Me</button>
    <button id="zcouples" class="choice 1">Gf/Bf/Couples</button>
    <button id="zfriends" class="choice 1">Friends</button>
    <button id="zfamily" class="choice 1">Family</button>
  </div>
</div>
