<div class="maturity card">
  <div class="splitChoice2">
    <p>Audience Maturity</p>
    <button id="adultOnly" class="choice 1">Only adult films</button>
    <button id="noAdultOnly" class="choice 1">Only PG-13 or below</button>
    <button id="everything" class="choice 1">Anything goes</button>
  </div>
  <div class="splitChoice2">
    <p>Audience Age</p>
    <button id="family" class="choice 1">Only family movies</button>
    <button id="child" class="choice 1">Only children's movies</button>
    <button id="nochild" class="choice 1">No children's movies</button>
    <button id="everything" class="choice 1">Anything goes</button>
  </div>
</div>
