<div class="romancePreferences card">
  <div class="splitChoice2 1">
    <p>Romance Preferences</p>
    <button id="fromance" class="choice 1">Just Romance</button>
    <button id="mz" class="choice 1">More Romance</button>
    <button id="rz" class="choice 1">No Romance</button>
    <button id="zz" class="choice 1">I don't care</button>
  </div>
</div>
