<div class="romancePreferences card">
  <div class="splitChoice2 1">
    <p>Romance Preferences</p>
    <button id="fjustromance" class="choice 1">Just Romance</button>
    <button id="mromance" class="choice 1">More Romance</button>
    <button id="rromance" class="choice 1">No Romance</button>
    <button id="zromance" class="choice 1">I don't care</button>
  </div>
</div>
