<div class="romance card">
  <div class="splitChoice2 1">
    <p>Romance Preferences</p>
    <button id="zjustRomance" class="choice 1">Just Romance</button>
    <button id="zmoreRomance" class="choice 1">More Romance</button>
    <button id="rRomance" class="choice 1">No Romance</button>
    <button id="zidcRomance" class="choice 1">I don't care</button>
  </div>
</div>
