<body class="bg-background1 w-scren h-screen">
  <p class="text-grey" id="errorMsg">
    We're sorry, but the page you're looking for http://movieSnag/<%=badLink%>
    doesn't seem to exist
  </p>
</body>
