<link rel="stylesheet" href="/css/home.css" />

<div class="" id="body">
  <div id="first">
    <span class="firstThen">First</span>
    <a class="bg-button2" href="/questionaire">Take our Questionaire</a>
    <p>In just five questions, we can narrow down your search</p>
  </div>
  <div id="then">
    <span class="firstThen">Then</span>
    <a id="snagEngineButton" href="/snagEngine">Use Snag Engine</a>
    <p>Our suite of filter tools will help you snag the perfect movie</p>
  </div>
</div>
