<p class="subPageTitle">Not sure what to watch? We can help!</p>

<div id="searchTypeButtons">
  <a id="filter" class="searchType" href="/filters">Try our Filters</a>
  <a id="survey" class="searchType" href="/survey">Take our Survey</a>
  <a id="browse" class="searchType" href="/browse">Just Browse</a>
</div>
