<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div id="headerContent">
        <h1>Movie Snag</h1>
        <p>Find the perfect movie to watch...without taking forever</p>
      </div>
      <a id="loginCreate" href="/login_or_create">Login/Create Account</a>
      <hr />
    </header>
    <%- body %>
  </body>
</html>
