a {
  color: black; /* blue colors for links too */
  text-decoration: none; /* no underline */
}
.pageHeader {
  font-family: Garamond, serif;
  text-align: center;
  font-size: 3rem;
}

.subPageTitle {
  text-align: center;
}

.searchType {
  border: none;
  border-radius: 4px;
  background-color: rgb(133, 132, 132);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 20vw;
}

#searchTypeButtons {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
}

/* Layout */
body,
html,
h1,
p,
header {
  margin: 0;
}
header {
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(29, 37, 75, 1) 6%,
    rgba(131, 139, 178, 1) 16%,
    rgba(167, 175, 208, 1) 38%,
    rgba(167, 175, 208, 1) 59%,
    rgba(131, 139, 178, 1) 73%,
    rgba(29, 37, 75, 1) 82%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 85px;
  width: 100vw;
  padding-bottom: 20px;
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  align-items: center; /* Align items vertically in the center */
}
h1 {
  font-size: 49px;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}
#description {
  font-family: "Roboto Mono", monospace;
}
#pageTitle {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 12px;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/846/926/large_2x/dark-purple-backdrop-with-bent-lines-vector.jpg");
  background-size: cover;
}
#accountButtons {
  justify-self: right;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}
.loginCreate {
  font-size: 20px;
  border: none;
  border-radius: 4px;
  background-color: rgb(151, 154, 239);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: clamp(70px, 6vw, 100px);
  height: 50px;
  color: black; /* blue colors for links too */
  text-decoration: none; /* no underline */
}
#login {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-left: 10px;
}

.accountModule {
  width: 400pc;
  height: 300px;
  color: black;
  background-color: aliceblue;
}
