<p class="subPageTitle">Try out our amazing filters</p>
<p class="subPageTitle">
  If you have an account you can change your filter options!
</p>

<h2>Choose your desired filter(s)</h2>

<div class="filterBlurb">Genre</div>
